@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary : #EC1C24;

  --text-80: clamp(3.5rem, 6vw, 5rem);   /* min 56px, max 80px */
  --text-75: clamp(3.25rem, 5.5vw, 4.6875rem); /* min 52px, max 75px */
  --text-65: clamp(2.75rem, 4.8vw, 4.0625rem); /* min 44px, max 65px */
  --text-33: clamp(1.75rem, 3vw + 0.5em, 2.0625rem);   /* min 28px, max 33px */
  --text-30: clamp(1.625rem, 2.5vw, 1.875rem); /* min 26px, max 30px */
  --text-25: clamp(1.375rem, 2vw, 1.5625rem);  /* min 22px, max 25px */
  --text-19: clamp(1rem, 1.5vw, 1.1875rem);    /* min 16px, max 19px */ 
  --text-16: clamp(0.9rem, 1.2vw, 1rem);    /* min 16px, max 19px */ 

  --spacing-150: clamp(2em, 10vw + 0.5em, 150px);
  --spacing-25: clamp(1em, 2vw + 0.5em, 25px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Poppins", sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);

  --text-80: var(--text-80);
  --text-75: var(--text-75);
  --text-65: var(--text-65);
  --text-33: var(--text-33);
  --text-30: var(--text-30);
  --text-25: var(--text-25);
  --text-19: var(--text-19);
  --text-16: var(--text-16);
  --breakpoint-2xl: 96.875rem;
 /*  --container-7xl: 90rem; */

  --spacing-150: var(--spacing-150);
  --spacing-25px: var(--spacing-25);

 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
    font-family: var(--font-sans)
}
.container {
  @apply  mx-auto px-[15px];
}
.font-inter {
  font-family: 'Inter', sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}

.animate-scroll {
  animation: scroll var(--duration) linear infinite;
}